# shell
app/Plugin/System/Console/
app/Cake/Console/

# tests
app/Cake/Test/
app/Cake/TestSuite/

# site modules
Modules/

# sie themes
Themes/Themed/*

# site webroot files
webroot/files/*
!webroot/files/slider

# site hooks
Hooks/*
!Hooks/Helper/CustomHooktagsHelper.php

# site config
Config/database.php
Config/core.php
Config/install

# development stuff
dev/

# site cache
tmp/