# Dev Console
app/Plugin/System/Console/
app/Cake/Console/

# Tests
app/Cake/Test/
app/Cake/TestSuite/

# modules
Modules/

# themes
Themes/Themed/*
!Themes/Themed/empty

# site files
webroot/files/*
!webroot/files/slider

# custom hooks
Hooks/*
!Hooks/Helper/CustomHooksHelper.php

# site config
Config/database.php
Config/core.php
Config/install

# development stuff
dev/

# cache
tmp/