/*----------------------[BASICS]------------------*/
body {
    line-height: 18px;
    font: /*[font title='Main font' group='Body']*/13px Arial/*[/font]*/;
    color: /*[color title='Text' group='Body']*/#555555/*[/color]*/;
    text-shadow: 1px 1px 1px #ffffff;
    background: /*[color title='Background' group='Body']*/#F9F9F8/*[/color]*/;
}
a { text-decoration: none; color:/*[color title='Links' id='links' group='Links']*/#0074BD/*[/color]*/; }
a:hover { text-decoration: underline; color:/*[color title='Links hover' group='Links']*/#0074BD/*[/color]*/; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #808080; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #808080; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 18px; }
strong, b { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em; margin-bottom:1.5em; }
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
blockquote p { padding-bottom: 0px; }
input[type=text], .text input, .email input, .textarea textarea, select, .password input { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
div.checkbox { padding-top:6px;}
.text input.form-error, .textarea textarea.form-error, select.form-error, .password input.form-error {
    border:1px solid #CF240D !important;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-table; } /* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac */
#SearchAdminIndexForm .text input { width:100%; }
#footer { text-align:center; padding:20px 0; }
.sortable-hover { border:2px dotted #ccc; }

/* header */
#toolbar-menu { background:/*[color title='Main menu background' group='Header']*/#2A2A2A/*[/color]*/; padding:5px 0 5px 15px; }
#toolbar-menu a, #toolbar-menu a span { color:/*[color title='Main menu text' group='Header']*/#ffffff/*[/color]*/; }
#toolbar-menu #right-btns { float:right; line-height:32px; }
#toolbar-menu #right-btns a { margin-right:20px; text-shadow:none;  }


/* main menu */
#top-menu li { margin-left: 10px; display:block; height:32px; float:left; position: relative; }
#top-menu a { font-size: 12px; color: #ccc; text-decoration: none; text-shadow:none; display: block; line-height:32px; }
#top-menu > li { padding:0 5px 0 0; }
#top-menu > li > a { padding:0 0 0 5px; }
#top-menu > li.selected { background:url(../img/menu-nav-white.png) no-repeat scroll right bottom transparent; padding:0 17px 0 0; }
#top-menu > li.selected > a { color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); background:url(../img/menu-nav-white.png) no-repeat scroll 0 0 transparent; display:block; height:32px; line-height:32px; padding:0 0 0 17px; }


/* content menu */
#content-menu li { margin-bottom:15px; }
#content-menu li span.desc{ padding:0 0 0 15px;}
#breadcrumb-menu ul{ display:block;  }
#breadcrumb-menu li{ display:inline; }


/* page container */
#page {
  padding: 20px 0 40px 0;
  margin-right: 40px;
  margin-left: 40px;
  position: relative;
}

/* branding */
#branding {
    text-shadow:none;
	overflow: hidden;
	padding: 5px 20px 0 20px;
	position: relative;
	background: /*[color title='Branding background' group='Header']*/#E0E0D8/*[/color]*/;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
    box-shadow:0px 2px 9px #B5B5B5;
}
#branding a { color:/*[links]*/#0074BD/*[/links]*/; }
#branding h1.page-title {
	padding-top:10px;
	color: #000;
	margin: 0;
	padding-bottom: 10px;
	font-size: 1.385em;
	font-weight: normal;
	float: left;
    color:#000;
}

/* dashboard */
div.dashboard-region { float: left; min-height: 1px; padding-bottom:20px; }
#dashboard_main { width: 65%; margin-right: 1%;}
#dashboard_sidebar { width: 33%; }
div.dashboard-region .block {
    background:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
div.dashboard-region .block h2 { font-size:16px; font-weight:normal; }

/* blocks */
div.block.block-node.delta-search form#SearchAdminIndexForm label { display:none; }
div.block { border:1px solid #ccc; margin-bottom:15px; }
div.block h2 { white-space: nowrap; float: none; font-size:13px; color:#333;  font-weight:bold; padding:5px 5px 5px 15px;}
div.block div.content{ padding:10px; }

/* HTML elements */
table {
    border:1px solid #ccc;
    margin:0;
    background:#EFF0EF;
    border-collapse: separate;
}
table th a.asc, table .desc { cursor:pointer; padding-right:20px; background-repeat:no-repeat; background-position:right center; }
table th a.asc { background-image:url(../img/up.gif); }
table th a.desc { background-image:url(../img/down.gif); }
table th a { font-weight:bold; }
table tbody a { color:/*[links]*/#6B9225/*[/links]*/; }
table tbody tr.even td { padding:5px; background-color:#FFF; }
table tbody tr.odd td { padding:5px; background-color:#F0F0F0; }
table td, table th { padding:5px; border-bottom:1px solid #ccc; border-style:dotted; }
table thead th, table thead td, table tfoot th, table tfoot td { background:#F0F1F3; font-weight:bold; }
table .disabled { display:none; }
table img.theme_tn { margin:2px; width:202px; height:152px; }
table img.theme_tn:hover { margin:0; border:2px solid #666; }
fieldset {
    background:#fff;
    border:1px solid #ccc;
    padding:15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
legend {
    font-weight:bold;
    font-size:16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 6px;
}
fieldset div.horizontalLayout label { display:inline; padding-right: 15px; }
fieldset div.verticalLayout label { display:block; padding-right: 15px; }
fieldset div.verticalLayout .input.radio label { display:inline !important; padding-right: 15px; }
table tr.module-disabled .toggle-btn { color:#E9180D; font-weight:bold; }

/* toolbars */
div.toolbar { padding: 0px 0px 50px 0px; margin-bottom:10px; }
div.toolbar ul { float: left; }
div.toolbar ul li { margin: 0px 10px 0px 0px; padding: 0px; list-style: none; float: left; }
div.toolbar ul li a {
    padding: 8px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #eee;
    font-weight: bold;
    float: left;
    border:1px solid #ddd;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.29, rgb(238,238,238)),
        color-stop(0.65, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(238,238,238) 29%,
        rgb(255,255,255) 65%
    );
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.toolbar ul li.selected a, div.toolbar ul li a:hover { color:#666; border:1px solid #bbb; }

/* flash messages */
#sessionFlash .success, #sessionFlash .error, #authMessage {
    padding:15px;
    margin-bottom:15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow:none;
}
#sessionFlash { width:100%; }
#sessionFlash div.flash-message, #authMessage {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	font-family:Arial;
	margin-bottom: 30px;
	padding: 15px 15px 15px 80px;
	position: relative;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
#sessionFlash .success {
    border: 1px solid #8FAD3D;
    background:url(../img/boxes/success.png) no-repeat 10px 50% #EEF4D4;
    color: #596C26;
}
#sessionFlash .error, #authMessage {
    border: 1px solid #AD3F30;
    background:url(../img/boxes/error.png) no-repeat 10px 50% #EFCEC9;
    color: #923428;
}
#sessionFlash .alert {
    border: 1px solid #E2B500;
    background:url(../img/boxes/alert.png) no-repeat 10px 50% #FFEA97;
    color: #776100;
}
#sessionFlash .bubble {
    border: 1px solid #4381CC;
    background:url(../img/boxes/bubble.png) no-repeat 10px 50% #C6D8F0;
    color: #265895;
}

/* forms */
form label { display:block; font-weight: bold; margin-top:15px; padding:0;}
form fieldset { margin-bottom:25px; padding:15px; background:#fff; }
form fieldset  fieldset { margin-top:20px; margin-bottom:20px; }
form div.error-message { display:inline; font-size:8px; color:red; padding-left:15px; }
div.text input { width:390px; }
div.text input.form-error { border:1px solid red; }
div.radio label, div.checkbox label { padding:0 0 0 15px; display:inline; }
div.radio { padding:5px; margin-bottom:5px; }
div.textarea textarea { width:99%; } div.textarea textarea.form-error { border:1px solid red; }
div.submit input:hover { color:#00B7F3; cursor:pointer;}
div.submit label { display:none; }
div.submit input {
    border:1px solid #ccc;
    padding:5px;
    color:#555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.29, rgb(238,238,238)),
        color-stop(0.65, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(238,238,238) 29%,
        rgb(255,255,255) 65%
    );
}
